
.car-list {
  width: 90%;
  z-index: 1;
  margin: 0 auto;
}

.car-list-title {
  text-align: center;
  margin-top: 2rem;
}

.car-list-nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.car-table {
    width: 90%;
    margin: 1rem auto;
}