li {
  list-style: none;
  text-align: right;
  margin-bottom: 0.5rem
}

label {
  margin-right: 0.5rem
}

.modal-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.list-modal {
  height: 85%;
  width: 70%;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 3%;
  overflow: auto;
}

.list-modal-title {
  margin-bottom: 2rem;
}

.list-modal-content {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.btn {
  margin: 1rem;
  width: 7rem;
  background-color: transparent;
  border: 3px solid #32383e;
  border-radius: 5px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #32383e;
}

.btn:hover {
border-color: #32383e;
    box-shadow: 0 0 0 0.3rem rgba(62, 72, 83, 0.25);
}

.add-car-btn {
  align-self: flex-start;
  margin-left: 3rem;
}

.btn-x-container {
  display: flex;
  justify-content: end;
}

.btn-x {
  width: 40px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}