li {
  list-style: none;
  text-align: right;
}

.modal-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.list-modal {
  height: 80%;
  width: 60%;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 10% 10%;
  padding: 1rem;
  background-color: #fff;
  overflow: hidden;
}

.list-modal-content {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.btn {
  margin: 1rem;
  width: 7rem;
  background-color: transparent;
  border: 1px solid #32383e;
  border-radius: 5px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #32383e;
}

.btn:hover {
border-color: #32383e;
    box-shadow: 0 0 0 0.2rem rgba(62, 72, 83, 0.25);
}